@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
:root {
    --first-color: hsl(160, 100%, 25%);
    --title-color: hsl(160, 0%, 0%);
    --text-color: hsl(160, 0%, 47%0);
    --body-color: #fff;
    --container-color: #fff;
    --body-font: 'Do Hyeon', sans-serif;
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --font-medium: 500;
    --font-regular: 400;
    --z-index: 100;
}

/* BASE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--nomal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

.logo_img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* nav */

.container {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.logoimg {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 48%;
    margin-left: -100px;
}

.top {
    height: 100px;
    background-color: var(--first-color);
    margin-left: 0 auto;
    margin-right: 0 auto;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav i {
    font-size: 2rem;
    margin: 2rem;
}

.nav-logo {
    color: #fff;
    width: 960px;
    position: absolute;
    left: 48%;
    margin-left: -20px;
    font-size: var(--biggest-font-size);
}

.nav-menu ul {
    margin: 0 auto;
}

.nav-menu ul li {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav-menu ul li a {
    display: block;
}

.nav-menu {
    width: 850px;
    font-size: var(--h3-font-size);
    margin: auto;
}

.nav-menu a {
    column-gap: 50rem;
}

.nav-toggle {
    display: none;
    gap: 15rem;
}

.nav-toggle i {
    color: #fff;
}

.nav-list {
    display: flex;
    column-gap: 0.75rem;
    justify-content: space-around;
    margin: 0 auto;
}

.nav-link {
    display: block;
    color: black;
}


/* footer */

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    bottom: 0px;
    position: absolute;
    background-color: #c4c4c4;
    padding-top: 15px;
    padding-left: 100px;
}

#menu ul li {
    display: inline-block;
    position: relative;
    height: 100%;
    list-style: none;
}

.nav-footer {
    color: rgb(75, 75, 75);
}

.notice {
    font-size: 25px;
}

table {
    width: 55%;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid #444444;
    padding: 30px;
}

.pen {
    max-width: 2%;
}

/* moblie */

@media (max-width: 1000px) {
    .flex {
        flex-wrap: wrap;
    }
    .pen {
        max-width: 3%;
    }
}

@media screen and (max-width: 700px) {
    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
    }
    .nav-logo {
        margin: 0 auto;
        left: 45%;
    }
    .nav-list {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        background-color: rgb(172, 172, 172);
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    .nav-item {
        padding: 0.5rem 0;
        border-bottom: 1px solid gray;
        text-align: center;
    }
    .show-menu {
        height: 250px;
    }
    .notice {
        width: 500px;
        height: 300px;
        display: block;
        margin: auto;
    }
    .pen {
        max-width: 3%;
    }
}