@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
:root {
    /* color */
    --first-color: hsl(160, 100%, 25%);
    --title-color: hsl(160, 0%, 0%);
    --text-color: hsl(160, 0%, 47%0);
    --body-color: #fff;
    --container-color: #fff;
    --body-font: 'Do Hyeon', sans-serif;
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --nomal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;
    --font-medium: 500;
    --font-regular: 400;
    --z-index: 100;
}

/* BASE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--nomal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* nav */

.container {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.logoimg {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 48%;
    margin-left: -100px;
}

.top {
    height: 100px;
    background-color: var(--first-color);
    margin-left: 0 auto;
    margin-right: 0 auto;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #fff;
    width: 960px;
    position: absolute;
    left: 48%;
    margin-left: -20px;
    font-size: var(--biggest-font-size);
}

#wra {
    width: 400px;
    height: 300px;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

.login_form {
    padding: 20px 50px;
}

input {
    margin-bottom: 14px;
    width: 290px;
    height: 30px;
    font-size: 16px;
    border: lightgray;
}

button {
    width: 294px;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid whitesmoke;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    bottom: 0px;
    position: absolute;
    background-color: #c4c4c4;
    padding-top: 15px;
    padding-left: 100px;
}

#menu ul li {
    display: inline-block;
    position: relative;
    height: 100%;
    list-style: none;
}

.nav-footer {
    color: rgb(75, 75, 75);
}