/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Variables CSS */

:root {
    /* color */
    --first-color: hsl(160, 100%, 25%);
    --first-color-bright: hsl(160, 100%, 40%);
    --second-color: hsl(339, 77%, 59%);
    --third-color: hsl(42, 87%, 52%);
    --title-color: hsl(160, 0%, 0%);
    --text-color: hsl(160, 0%, 47%0);
    --body-color: #fff;
    --container-color: #fff;
    /* font */
    --body-font: 'Do Hyeon', sans-serif;
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --nomal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;
    /* font weight */
    --font-medium: 500;
    --font-regular: 400;
    /* z-index */
    --z-index: 100;
}


/* BASE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--nomal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* nav */

.container {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.logoimg {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 48%;
    margin-left: -100px;
}

.top {
    height: 100px;
    background-color: var(--first-color);
    margin-left: 0 auto;
    margin-right: 0 auto;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav i {
    font-size: 2rem;
    margin: 2rem;
}

.nav-logo {
    color: #fff;
    width: 960px;
    position: absolute;
    left: 48%;
    margin-left: -20px;
    font-size: var(--biggest-font-size);
}

.nav-menu ul {
    width: 1000px;
    margin: 0 auto;
}

.nav-menu ul li {
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav-menu ul li a {
    display: block;
}

.nav-menu {
    width: 100%;
    font-size: var(--h3-font-size);
}

.nav-menu a {
    column-gap: 50rem;
}

.nav-toggle {
    /* visibility: hidden; 보이지는 않지만, 자리는 차치 */
    display: none;
    gap: 15rem;
}

.nav-toggle i {
    color: #fff;
}

.nav-list {
    display: flex;
    column-gap: 0.75rem;
    /*12px;*/
}

.nav-link {
    display: block;
    color: black;
    /* 한 줄 전체를 차지해서 링크 동작 하도록 */
}

.notice {
    width: 1000px;
    height: 600px;
    display: block;
    margin: auto;
}

.flex .col img {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
    width: 960px;
    max-width: 100%;
    margin: auto;
}

.flex .col {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    margin: 1em;
}

.col {
    color: #424346;
    background: var(--compare_summer_color_bright);
}

img {
    max-width: 100%;
    /*이미지보다 창 크기가 작아져도 이미지를 다 유지하면서 축소하자*/
    height: auto;
}


/* footer */

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    bottom: 0px;
    position: absolute;
    background-color: #c4c4c4;
    padding-top: 15px;
    padding-left: 100px;
}

#menu ul li {
    display: inline-block;
    position: relative;
    height: 100%;
    list-style: none;
}

.nav-footer {
    color: rgb(75, 75, 75);
}


/* moblie */

@media (max-width: 1000px) {
    .flex {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .nav-toggle {
        display: block;
        /* nav-toggle 보이자 */
        position: absolute;
        /* nav-logo 가운데 정렬 위치 */
        cursor: pointer;
    }
    .nav-logo {
        margin: 0 auto;
        /* 가운데 정렬 */
    }
    .nav-list {
        flex-direction: column;
        /* align-items: center; */
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        /* width: 100%; */
        background-color: rgb(172, 172, 172);
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    .nav-item {
        padding: 0.5rem 0;
        border-bottom: 1px solid gray;
        margin-left: 10%;
    }
    .show-menu {
        height: 250px;
    }
}